<?php
return array(
    'doctrine_extensions' => array(
        // Set the Oracel Doctrine Driver Config Key Name
        //'oracle_doctrine_driver_config_key' => 'orm_default',
        
        // Set the MySQL Doctrine Driver Config Key Name
        //'mysql_doctrine_driver_config_key'  => 'orm_default',
    )
);